@import"../scss/base/reset";
@import"../scss/base/fonts";
* {
     box-sizing: border-box;
}

#wrapper {
     width: 100%;
     overflow: hidden;
     position: relative;
}

.container {
     width: 100%;
     margin: 0 auto;
}

.top-bg {
     padding-top: 10px;
     box-shadow: 0 0 15px 10px;
     margin-bottom: 1px;
}

.nav {
     display: flex;
     ul {
          li {
               display: inline-block;
               margin-left: 15px;
               a {
                    color: black;
                    font-size: 16px;
                    font-weight: 500;
               }
               a:hover {
                    text-decoration: none;
                    padding-bottom: 10px;
               }
               a:active {
                    text-decoration: underline;
               }
          }
     }
     .logreg {
          display: flex;
          padding-left: 100px;
          .register {
               margin-left: auto;
               button {
                    padding: 0 15px;
                    border: none;
                    color: white;
                    background-color: rgb(212, 41, 41);
               }
          }
          .login {
               margin-left: auto;
               button {
                    padding: 0 15px;
                    border: none;
                    color: white;
                    background-color: rgb(212, 41, 41);
               }
          }
     }
}

main {
     .banner {
          background: linear-gradient(to right, #485563, #29323c);
          height: 600px;
     }
     .container {
          margin-left: 400px;
     }
}

.form {
     box-shadow: 0 0 10px 1px;
     margin-bottom: 20px;
     color: black;
     padding: 20px;
     margin: 50px;
     width: 500px;
     background-color: rgb(241, 240, 240);
     border-radius: 4px;
     form {
          padding-left: 20px;
          p {
               font-size: 17px;
               margin: 0px;
               font-weight: 500;
          }
          .name {
               display: flex;
               flex-flow: row;
               margin-bottom: 10px;
               .firstname {
                    margin-right: 21px;
               }
          }
          .email_box,
          .phone_box,
          .password_box,
          .confpassword_box,
          .checkterms {
               margin-bottom: 5px;
               margin-top: 5px;
          }
          .input_icons {
               padding: 5px 4px;
               margin-right: -3px;
               margin-top: 2px;
               color: yellow;
               display: none;
          }
          label {
               margin-left: -29px;
               padding-left: 4px;
               border-left: 2px solid rgb(241, 179, 179);
          }
          .eye_con {
               color: black;
          }
          #eye_con1,
          #eye_con2 {
               display: none;
          }
          input {
               border: 1px solid rgba(211, 189, 189, 0.89);
               padding-left: 10px;
               cursor: pointer;
               color: black;
          }
          .input_field {
               display: inline-block;
               width: 85%;
          }
     }
}

.sub {
     margin-top: 40px;
}

#submit_btn {
     text-align: center;
     background-color: rgb(212, 41, 41);
     padding: 10px 15px;
     border-bottom: 1px solid rgba(226, 214, 214, 0.185);
     color: black;
     box-shadow: 0px 0px 10px 1px
}

#login_btn {
     border: none;
     color: white;
     outline: none;
     padding: 5px 15px;
     background-color: rgb(212, 41, 41);
}

#submit_btn:hover {
     box-shadow: 0 0 15px 1px;
}

#submit_btn:disabled {
     box-shadow: 0 0 15px 1px;
     color: rgb(255, 223, 223);
}