@font-face {
     font-family: 'icomoon';
     src: url('../../font/fonts/icomoon.eot?rc2tcl');
     src: url('../../font/fonts/icomoon.eot?rc2tcl#iefix') format('embedded-opentype'), url('../../font/fonts/icomoon.ttf?rc2tcl') format('truetype'), url('../../font/fonts/icomoon.woff?rc2tcl') format('woff'), url('../../font/fonts/icomoon.svg?rc2tcl#icomoon') format('svg');
     font-weight: normal;
     font-style: normal;
}

i {
     /* use !important to prevent issues with browser extensions that change fonts */
     font-family: 'icomoon' !important;
     //  speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     /* Better Font Rendering =========== */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

.icons-x-altx-alt:before {
     content: "\e90a";
}

.icons-cancel:before {
     content: "\e90a";
}

.icons-close:before {
     content: "\e90a";
}

.icons-clipboard:before {
     content: "\e900";
}

.icons-board:before {
     content: "\e900";
}

.icons-signup:before {
     content: "\e900";
}

.icons-register:before {
     content: "\e900";
}

.icons-agreement:before {
     content: "\e900";
}

.icons-cancel1:before {
     content: "\e90e";
}

.icons-close1:before {
     content: "\e90e";
}

.icons-cancel2:before {
     content: "\e90f";
}

.icons-close2:before {
     content: "\e90f";
}

.icons-flag:before {
     content: "\e914";
}

.icons-lock:before {
     content: "\e910";
}

.icons-envelope:before {
     content: "\e911";
}

.icons-phone:before {
     content: "\e912";
}

.icons-user:before {
     content: "\e913";
}

.icons-check-circle:before {
     content: "\e90b";
}

.icons-eye-slash:before {
     content: "\e90c";
}

.icons-eye:before {
     content: "\e90d";
}

.icons-google-plus:before {
     content: "\e909";
}

.icons-linkedin:before {
     content: "\e901";
}

.icons-twitter:before {
     content: "\e902";
}

.icons-facebook:before {
     content: "\e903";
}

.icons-sign-in:before {
     content: "\e904";
}

.icons-suitcase:before {
     content: "\e905";
}

.icons-cart:before {
     content: "\e906";
}

.icons-heart:before {
     content: "\e907";
}

.icons-user1:before {
     content: "\e908";
}